body{
  margin:0;
  padding:0;
}

#container{
  width:100%;
  margin:0;
  padding:40px;
}

#interactive-container{
  margin:0 auto;
  display:block;
  width:50%;
}

.draggable { }
.ui-widget-header p, .ui-widget-content p {
  margin: 0;
}

#snaptarget {
  position:relative;
  height:200px;
  width: 300px;
  /* border:1px solid black; */
  margin:0 auto;
  top:250px;
}

#snaptargetcontainer {
  height:595px;
  width:380px;
  /* border: 1px solid blue; */
  background-image:url("../img/tape-player-background.jpg");
  background-size:cover;
  margin-bottom:30px;
}

#cassette {
  height:200px;
  width: 300px;
  background-image:url("../img/cassette-background.png");
  background-size:cover;
  /* border:1px solid red; */
}

#playbutton {
  position:relative;
  top:318px;
  left:40px;
  /* border: 1px solid green; */
  height: 70px;
  width: 70px;
  background-image:url("../img/play-button.png");
  background-size:cover;
}

.cassettehole {
  height:40px;
  width: 40px;
  /* border:1px solid red; */
}

.spin{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }
  @-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#hole1 {
  position: relative;
  top: 81px;
  left: 56px;
  float:left;
  background-image:url("../img/left-hole.png");
  background-size:cover;
}

#hole2 {
  position: relative;
  top: 83px;
  left: 165px;
  float:left;
  background-image:url("../img/right-hole.png");
  background-size:cover;
}
