html{
  box-sizing: border-box;
}

body{
  font-family: Tenso, Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
  text-align: center;
}

a{
  text-decoration: none;
}

#wrapper{
  padding:0px 15px;
}

h1{
  margin-top:20px;
}

h2{
  font-weight: lighter;
}

header{
  margin-bottom:20px;
}

/* Container for each individual project */
.project{
  width:50%;
  position:relative;
  float:left;
  /*outline:1px solid red; <-- Use this style for testing */
}

/* Container that surrounds the actual project image */
.projectImage{
  height:200px;
  background-color: pink;
  box-sizing: border-box;
  margin:5px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* Controls the opacity of the hover color */
.project:hover .projectImage {
  opacity: 0.6;
}

.projectImage img{
  display:none;
  width:100%;
  height:100%;
}

.hover{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Note to self: look up "translate" more to bette understand this */
  -ms-transform: translate(-50%, -50%)
}

.projectName {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.projectImage p{
  text-align:center;
  vertical-align: middle;
  color:white;
  text-decoration:none;
  font-size:30pt;
  padding-top:70px;
  transition: width .3s, height .3s;
  visibility:hidden;
}

.projectImage p:hover{
  font-size:35pt;
  padding-top:75px;
}

#bodyText{
  padding:20px;
  margin-top:20px;
}

#bodyText button{
  /*position:fixed;*/
  text-align: center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  background: #cb6060;
  color:white;
  width:220px;
  height:60px;
  box-shadow: none;
  border:none;
  font-size:13pt;
  -webkit-transition: width .3s, height .3s, font-size .3s;
  -moz-transition: width .3s, height .3s, font-size .3s;
  -o-transition: width .3s, height .3s, font-size .3s;
  transition: width .3s, height .3s, font-size .3s;
}

#bodyText button:hover{
  width:235px;
  height:65px;
  /*font-size:13.5pt;*/
}

footer{
  font-size:10pt;
  width:100%;
  float:left;
  text-align:center;
}
